# Gradient Boosting Algorithm

In [1]:
# Images will be displayed when the images are at the same path after downloading the ipynb

<strong>Inputs</strong> :<br>
i)  {xi,y}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      xi are the all independent columns taken as input and y is the dependent column taken as output<br>
ii) Loss Function  --> Mean Squared Error<br>
iii)No. of Decision Trees<br>
<br><br><br>
<strong>Pseudo Algorithm with example</strong>:<br>
Lets consider we are predicting salary based on experience and qualification<br>
Dataset :<br>

![](dataset.jpg)

<br>
<strong>Step 1</strong> : Calculate Average values of the variables in  Salary column as y_pred, and initialize the model with a constant value.<br>
<img src="y_pred1.jpg"/>
<br>
We take the average value of the output column to initialize the model as<br>
<img src="Cal_y_pre1.jpg"/>
<br>
Now, To  minimize the Loss Function we can apply First Order Derivative and then equate it to 0.
<br>
<img src="Cal2_y_pre1.jpg"/>
<br>
<strong>Step 2</strong> : Iterate m from 1 to M(No. of Decision Trees)<br>
&nbsp;&nbsp;&nbsp;Compute the residuals (Errors)<br>
&nbsp;&nbsp;&nbsp;Formula for computing the residuals are - [dL(y,f(x)/df(x)]<br>
&nbsp;&nbsp;&nbsp;Calculating residuals.<br>
<img src="r1_solve.jpg" style="width:600px;height:400px"/>   
   
 <br>
   &nbsp;&nbsp;&nbsp; Simply , residuals = Actual - Predicted
 <br>
 <img src="r1.jpg"/><br>
    
<strong>Step 3</strong> :<br>
&nbsp;&nbsp;&nbsp;&nbsp;Fit the base model to hm(x) (Decision Tree)<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Inputs : Experience , Degree<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Output : r1<br>
    &nbsp;&nbsp;&nbsp;&nbsp;Now , Calculate Gamma <sub>m</sub> : <br>
<img src="gamma.jpg" style="width:900px;height:400px"/> 
<strong>Step 4</strong> :<br>
Update the model with F<sub>m</sub>(x)=F<sub>m-1</sub>(x)+alp(h(x))<br><br>
F<sub>m</sub>(x) ===> y_pred(i)<br>
F<sub>m-1</sub>(x) ===> y_pred1<br>
alp ===>  Learning Rate<br>
h(x) ===> previous Residuals<br>
<img src="rs.jpg" style="width:900px;height:500px"/> <br>
Calculating y_pred2, r2, y_pred3, r3 for the first row:<br><br>
y_pred2 = F<sub>m</sub>(x)=F<sub>m-1</sub>(x)+alp(h(x))<br>
y_pred2 = 54+(-24)(0.1)<br>
y_pred2 = 54-2.4<br>
y_pred2 = 51.6<br>
<br><br>
r2 = Actual-y_pred2<br>
r2 = 30-51.6<br>
r2 = -21.6<br>
<br><br>
y_pred3 = F<sub>m</sub>(x)=F<sub>m-1</sub>(x)+alp(h(x))<br>
y_pred3 = 51.6+(-21.6)(0.1)<br>
y_pred3 = 51.6-2.16<br>
y_pred3 = 49.44<br>
<br><br>
r3 = Actual-y_pred3<br>
r3 = 30-49.44<br>
r3 = -19.44<br>

<img src="allrs.jpg" style="width:700px;height:350px"/> 
After computing the whole iteration we will arrive with the least residual(errors).

In [1]:
import numpy as np
import pandas as pd

In [2]:
e=[3,3,3,5,5,5,6,6,6]
d=['B-tech','B.com','PHD','B-tech','B.com','PHD','B-tech','B.com','PHD']
s=[30,20,40,60,50,70,76,50,90]
title=['Experience','Degree','Salary(in K)']
value=[e,d,s]
res1=list(zip(title,value))
result1=dict(res1)
df2=pd.DataFrame(result1)
df2

   Experience  Degree  Salary(in K)
0           3  B-tech            30
1           3   B.com            20
2           3     PHD            40
3           5  B-tech            60
4           5   B.com            50
5           5     PHD            70
6           6  B-tech            76
7           6   B.com            50
8           6     PHD            90

In [3]:
df2['Degree'].unique()

array(['B-tech', 'B.com', 'PHD'], dtype=object)

In [4]:
deg={
    'B.com':0,
    'B-tech':1,
    'PHD':2,
    'B-com':3,
}
df2=df2.replace({'Degree':deg})

In [5]:
df2

   Experience  Degree  Salary(in K)
0           3       1            30
1           3       0            20
2           3       2            40
3           5       1            60
4           5       0            50
5           5       2            70
6           6       1            76
7           6       0            50
8           6       2            90

In [6]:
X=df2.drop('Salary(in K)', axis=1)  
Y=df2['Salary(in K)']

In [7]:
X

   Experience  Degree
0           3       1
1           3       0
2           3       2
3           5       1
4           5       0
5           5       2
6           6       1
7           6       0
8           6       2

In [8]:
Y

0    30
1    20
2    40
3    60
4    50
5    70
6    76
7    50
8    90
Name: Salary(in K), dtype: int64

In [9]:
from sklearn.ensemble import GradientBoostingRegressor

In [10]:
regress=GradientBoostingRegressor()
regress.fit(X,Y)

GradientBoostingRegressor()

In [11]:
from sklearn import metrics

In [12]:
errors=[metrics.mean_squared_error(Y,y_pred) for y_pred in regress.staged_predict(X)]
best_n_estimators=np.argmin(errors)

In [13]:
best_regress=GradientBoostingRegressor()
best_regress.fit(X,Y)

GradientBoostingRegressor()

In [14]:
y_pred=best_regress.predict(X)
print("Absolute Mean Error:",metrics.mean_absolute_error(Y,y_pred))
print('Root Mean Squared Error:',np.sqrt(metrics.mean_squared_error(Y,y_pred)))

Absolute Mean Error: 0.07551548971034726
Root Mean Squared Error: 0.10608511146333924

In [15]:
y1=pd.Series(y_pred)
print(Y)
print(y1)

0    30
1    20
2    40
3    60
4    50
5    70
6    76
7    50
8    90
Name: Salary(in K), dtype: int64
0    29.974750
1    20.001207
2    40.008010
3    60.196896
4    49.850801
5    69.981510
6    75.853936
7    50.133707
8    89.999184
dtype: float64

# House Price Prediction:

In [9]:
from sklearn. ensemble import GradientBoostingRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.datasets import load_boston
from sklearn.metrics import mean_absolute_error

In [4]:
boston=load_boston()
X=pd.DataFrame(boston.data,columns=boston.feature_names)
Y=pd.Series(boston.target)

In [21]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [20]:
Y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Length: 506, dtype: float64

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,Y)

In [6]:
regressor=GradientBoostingRegressor(
    max_depth=2,
    n_estimators=3,
    learning_rate=1.0
)
regressor.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=1.0, max_depth=2, n_estimators=3)

In [11]:
errors=[mean_squared_error(Y,y_pred) for y_pred in regressor.staged_predict(X)]
best_n_estimators=np.argmin(errors)

In [12]:
best_regressor=GradientBoostingRegressor(
    max_depth=2,
    n_estimators=best_n_estimators,
    learning_rate=1.0
)
best_regressor. fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=1.0, max_depth=2, n_estimators=2)

In [16]:
y_pred=best_regressor.predict(X_test)
mean_absolute_error(y_test, y_pred)

3.5908518951455615

# Fake News Detection:

In [1]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

df_true = pd.read_csv("C:\\Users\\Tarun\\Downloads\\True.csv")
df_fake = pd.read_csv("C:\\Users\\Tarun\\Downloads\\Fake.csv")

df_fake.drop(df_fake.iloc[:, 4:171],inplace=True, axis=1)

df_fake["class"] = 0
df_true["class"] = 1

df_fake_manual_testing = df_fake.tail(10)
for i in range(23480,23470,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21416,21406,-1):
    df_true.drop([i], axis = 0, inplace = True)

df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv("manual_testing.csv")

df_merge = pd.concat([df_fake, df_true], axis =0 )

df = df_merge.drop(["title", "subject","date"], axis = 1)

df = df.sample(frac = 1)

def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

df["text"] = df["text"].apply(wordopt)

x = df["text"]
y = df["class"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

from sklearn.ensemble import GradientBoostingClassifier

GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

pred_gbc = GBC.predict(xv_test)

GBC.score(xv_test, y_test)


def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_GBC = GBC.predict(new_xv_test)
    ans="GBC Prediction: {}".format(output_lable(pred_GBC[0]))
    return print(ans)

news=input("Enter news:")
manual_testing(news)

<ipython-input-1-8d867755d5b0>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
<ipython-input-1-8d867755d5b0>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

Enter news:SEATTLE/WASHINGTON (Reuters) - President Donald Trump called on the U.S. Postal Service on Friday to charge â€œmuch moreâ€ to ship packages for Amazon (AMZN.O), picking another fight with an online retail giant he has criticized in the past.     â€œWhy is the United States Post Office, which is losing many billions of dollars a year, while charging Amazon and others so little to deliver their packages, making Amazon richer and the Post Office dumber and poorer? Should be charging MUCH MORE!â€ Trump wrote on Twitter.  The presidentâ€™s tweet drew fresh attention to the fragile finances of the Postal Service at a time when tens of millions of parcels have just been shipped all over the country for the holiday season.  The U.S. Postal Service, which runs at a big loss, is an independent agency within the federal government and does not receive tax dollars for operating expenses, according to its website.  Package delivery has become an increasingly important part of its business as the Internet has led to a sharp decline in the amount of first-class letters. The president does not determine postal rates. They are set by the Postal Regulatory Commission, an independent government agency with commissioners selected by the president from both political parties. That panel raised prices on packages by almost 2 percent in November.  Amazon was founded by Jeff Bezos, who remains the chief executive officer of the retail company and is the richest person in the world, according to Bloomberg News. Bezos also owns The Washington Post, a newspaper Trump has repeatedly railed against in his criticisms of the news media. In tweets over the past year, Trump has said the â€œAmazon Washington Postâ€ fabricated stories. He has said Amazon does not pay sales tax, which is not true, and so hurts other retailers, part of a pattern by the former businessman and reality television host of periodically turning his ire on big American companies since he took office in January. Daniel Ives, a research analyst at GBH Insights, said Trumpâ€™s comment could be taken as a warning to the retail giant. However, he said he was not concerned for Amazon. â€œWe do not see any price hikes in the future. However, that is a risk that Amazon is clearly aware of and (it) is building out its distribution (system) aggressively,â€ he said. Amazon has shown interest in the past in shifting into its own delivery service, including testing drones for deliveries. In 2015, the company spent $11.5 billion on shipping, 46 percent of its total operating expenses that year.  Amazon shares were down 0.86 percent to $1,175.90 by early afternoon. Overall, U.S. stock prices were down slightly on Friday.  Satish Jindel, president of ShipMatrix Inc, which analyzes shipping data, disputed the idea that the Postal Service charges less than United Parcel Service Inc (UPS.N) and FedEx Corp (FDX.N), the other biggest players in the parcel delivery business in the United States. Many customers get lower rates from UPS and FedEx than they would get from the post office for comparable services, he said. The Postal Service delivers about 62 percent of Amazon packages, for about 3.5 to 4 million a day during the current peak year-end holiday shipping season, Jindel said. The Seattle-based company and the post office have an agreement in which mail carriers take Amazon packages on the last leg of their journeys, from post offices to customersâ€™ doorsteps. Amazonâ€™s No. 2 carrier is UPS, at 21 percent, and FedEx is third, with 8 percent or so, according to Jindel. Trumpâ€™s comment tapped into a debate over whether Postal Service pricing has kept pace with the rise of e-commerce, which has flooded the mail with small packages.Private companies like UPS have long claimed the current system unfairly undercuts their business. Steve Gaut, a spokesman for UPS, noted that the company values its â€œproductive relationshipâ€ with the postal service, but that it has filed with the Postal Regulatory Commission its concerns about the postal serviceâ€™s methods for covering costs. Representatives for Amazon, the White House, the U.S. Postal Service and FedEx declined comment or were not immediately available for comment on Trumpâ€™s tweet. According to its annual report, the Postal Service lost $2.74 billion this year, and its deficit has ballooned to $61.86 billion.  While the Postal Serviceâ€™s revenue for first class mail, marketing mail and periodicals is flat or declining, revenue from package delivery is up 44 percent since 2014 to $19.5 billion in the fiscal year ended Sept. 30, 2017. But it also lost about $2 billion in revenue when a temporary surcharge expired in April 2016. According to a Government Accountability Office report in February, the service is facing growing personnel expenses, particularly $73.4 billion in unfunded pension and benefits liabilities. The Postal Service has not announced any plans to cut costs. By law, the Postal Service has to set prices for package delivery to cover the costs attributable to that service. But the postal service allocates only 5.5 percent of its total costs to its business of shipping packages even though that line of business is 28 percent of its total revenue.
GBC Prediction: Not A Fake News